@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div{
  font-family: 'Lexend Deca', sans-serif;
  margin: 10vh 5vw;
  width: 70vw;
  background-color: #FFFFFF;
  padding: 20px;
  box-shadow: 3px 3px 3px #9fa0a1;
  border-radius: 5px;
}

h1{
  margin: 10px 0;
  color: #1A202C;
}

h4{
  color: #717171;
}

#icon{
  cursor: pointer;
}

#icon:hover{
  animation: pulse 2s linear infinite;
}
