@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

div{
  display: flex;
  flex-direction: row;
  padding: 0 9vw;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.top{
  font-size: 24px;
  color: #FFFFFF;
  justify-content: space-between;
  margin: 3vh 5vw;
  width: 100%;
}

.top a{
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 3vw;
}

.searchbox{
  margin: 0 20%;
  margin-bottom: 2vh;
  border-radius: 5px;
  width: 100%;
}

.searchbox a{
  background: rgba(255, 255, 255, 0.2);
  padding: 6px;
  border-radius: 0 5px 5px 0;
  width: 24px;
  height: 24px;
}

img{
  width: 24px;
  height: 24px;
}

a:hover > img{
  animation: pulse 2s linear infinite;
}

input{
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  outline: 0;
  width: 95%;
  padding: 9px;
  padding-left: 1vw;
  color: #FFFFFF;
  border-radius:  5px 0 0 5px;
}

input::placeholder{
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
}
